<app-base-template></app-base-template>

<h1 mat-dialog-title> Produit </h1>
<div mat-dialog-content [formGroup]="productForm" style="display: grid">

    <mat-form-field>
        <mat-label> Nom du produit </mat-label>
        <input matInput type="text" placeholder="p.e Monaco" formControlName="productName" />
    </mat-form-field>

    <mat-form-field>
        <mat-label> Prix de vente </mat-label>
        <input matInput type="number" placeholder="p.e 3.50" formControlName="productPriceSold" />
    </mat-form-field>

    <mat-form-field>
        <mat-label> Prix d'achat </mat-label>
        <input matInput type="number" placeholder="p.e 1.99" formControlName="productPriceBought" />
    </mat-form-field>

    <mat-form-field>
        <mat-label> Quantité </mat-label>
        <input matInput type="number" placeholder="p.e 1.99" formControlName="productAmount" />
    </mat-form-field>

    <mat-form-field>
        <mat-label> Section </mat-label>
        <mat-select formControlName="productSection">
            <!-- An empty option in case the product need to be on the root -->
            <mat-option value=""></mat-option>
            <mat-option *ngFor="let section of sections" value="{{section.current_section}}">
                {{section.current_section}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-checkbox formControlName="productNeedPreparation">
        Doit passer en cuisine
    </mat-checkbox>

</div>
<div mat-dialog-actions class="mat-dialog-actions">
    <button mat-fab *ngIf="dataSource.data" class="secundary-color"
        (click)="openDialog(deleteDialog, deleteProduct, dataSource.data.name)">
        <mat-icon>delete</mat-icon>
    </button>
    <button mat-fab type="submit" class="third-color" (click)="productDialogResponse()">
        <mat-icon>check</mat-icon>
    </button>
</div>

<ng-template #deleteDialog let-data>
    <app-are-you-sure-template [dataSource]="data"
        message="Toutes les commandes contenant ce produit ne le contiendront plus">
    </app-are-you-sure-template>
</ng-template>
