<header-dialog></header-dialog>

<h1 mat-dialog-title> Modification des permissions </h1>
<div mat-dialog-content>
    <p>
        Modification des permissions du rôle:
        <span style="font-weight: bold;">
            {{dataSource.data.role}}
        </span>
    </p>
</div>

<div style="display: grid; justify-content: space-evenly; user-select: none;">
    <table mat-table [dataSource]="getData() | keyvalue" class="mat-elevation-z8 styled-table1">

        <ng-container matColumnDef="permission">
            <th mat-header-cell *matHeaderCellDef> Permission </th>
            <td mat-cell *matCellDef="let perm">
                {{perm.key}}
            </td>
        </ng-container>

        <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef> Valeur </th>
            <td mat-cell *matCellDef="let perm">
                <div *ngIf="perm.value"><mat-icon>done</mat-icon></div>
                <div *ngIf="!perm.value"><mat-icon>clear</mat-icon></div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['permission', 'value']"></tr>
        <tr mat-row *matRowDef="let perm; columns: ['permission', 'value'];"
            (click)="perm.value = changePermission(perm.key)"></tr>

    </table>
</div>

<div mat-dialog-actions class="mat-dialog-actions">
    <button mat-fab (click)="openDialog(passwordTemplate, deleteRole, null)" class="accent-color">
        <mat-icon>delete</mat-icon>
    </button>
    <button mat-fab (click)="openDialog(passwordTemplate, saveRolePermissions, null)" class="primary-color">
        <mat-icon>check</mat-icon>
    </button>
</div>

<ng-template #passwordTemplate let-data>
    <password-verification-dialog [dataSource]="data"></password-verification-dialog>
</ng-template>
