<div *ngIf="isLoaded()">
    <div class="change-view-map-list" routerLink="../orders" (click)="setStateOrderPage()">
        <mat-icon>list</mat-icon>
    </div>

    <mat-card *ngIf="!editionMod">
        <div class="title-mat-card">
            <mat-card-title>
                La carte
            </mat-card-title>
            <button mat-flat-button class="primary-color" (click)="editionMod = true">
                Modifier
            </button>
        </div>
        <mat-grid-list cols={{getMapWidth()}} class="map-grid" [gutterSize]="'0px'">
            <mat-grid-tile *ngFor="let b of getMapBlocks()">

                <img *ngIf="b.table < 0" [src]="getUrlImg(b.img)" alt="" draggable="false">

                <div *ngIf="b.table >= 0" class="interactive-block"
                    (click)="openDialog(informationTable, null, getOrdersBy(b.table))">

                    <img [src]="getUrlImg(b.img)" alt="" draggable="false">
                    <div class="badge-tile">
                        <span mat-mini-fab *ngIf="haveOrders(b.table)"><mat-icon>people</mat-icon></span>
                        <span mat-mini-fab>{{b.table}}</span>
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card>

    <div class="container-global" *ngIf="editionMod">
        <div class="container">
            <mat-card class="palette">
                <div class="title-mat-card">
                    <mat-card-title>Palette</mat-card-title>
                    <div>
                        <button mat-flat-button class="primary-color" (click)="addColumn()">Ajouter une colonne</button>
                        <button mat-flat-button class="primary-color" (click)="addRow()">Ajouter une ligne</button>
                    </div>
                </div>
                <mat-grid-list cols="5" [gutterSize]="'0px'">
                    <mat-grid-tile *ngFor="let d of getDecors()">
                        <img src="{{getUrlImg(d.img)}}" alt="" (click)="setPencil(d.img)" draggable="false">
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-card>
        </div>
    </div>

    <mat-card *ngIf="editionMod" class="mod-map">
        <div class="title-mod-map">
            <mat-card-title>
                Modification de la carte
            </mat-card-title>
            <div>
                <button mat-flat-button class="third-color" (click)="ngOnInit()">Retour</button>
                <button mat-flat-button class="primary-color"
                    (click)="openDialog(passwordVerification, validate, null)">
                    Valider
                </button>
            </div>
        </div>
        <mat-grid-list cols={{getMapWidth()}} [gutterSize]="'0px'">
            <mat-grid-tile *ngFor="let col of [].constructor(getMapWidth()); let i = index">
                <button mat-falt-button class="add-column-left">+</button>
                <button mat-falt-button class="add-column-right">+</button>
            </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols={{getMapWidth()}} (mouseleave)="hover = -1" [gutterSize]="'0px'">
            <mat-grid-tile *ngFor="let b of getMapBlocks(); let i = index"
                (click)="openSetCellDialog(setPencilTableID, i)" (mouseenter)="hover = i"
                (dragover)="openSetCellDialog(setPencilTableID, i)" class="cell-mod">

                <div *ngIf="hover === i" class="interactive-block">
                    <img src="{{getUrlImg(getPencil().img)}}" alt="">
                    <div class="badge-tile" *ngIf="getPencil().table >= 0">
                        <span mat-mini-fab>{{getPencil().table}}</span>
                    </div>
                </div>

                <div *ngIf="hover !== i" class="interactive-block">
                    <img src="{{getUrlImg(b.img)}}" alt="">
                    <div class="badge-tile" *ngIf="b.table >= 0">
                        <span mat-mini-fab>{{b.table}}</span>
                    </div>
                </div>

            </mat-grid-tile>
        </mat-grid-list>
    </mat-card>
</div>

<ng-template #informationTable let-data>
    <app-base-template></app-base-template>
    <mat-card-title> {{data.data[0] ? data.data[0].table_id : ''}} </mat-card-title>
    <app-order-table-template [dataSource]="data"></app-order-table-template>
</ng-template>

<ng-template #setPencilTableID let-data>
    <app-set-pencil-template [dataSource]="data"></app-set-pencil-template>
</ng-template>

<ng-template #passwordVerification let-data>
    <app-password-template [dataSource]="data"></app-password-template>
</ng-template>
