.change-view-map-list {
    display: inline-flex;
    justify-content: right;
    width: 97%;
    cursor: pointer;

    mat-icon {
        background-color: white;
        border-radius: 7px;
        padding: 8px 10px;
    }
}

.title-mat-card {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.map-grid {

    img {
        width: 100%;
        height: 100%;
        z-index: 1;
        position: absolute;
    }
}

.interactive-block {
    cursor: pointer;
    height: inherit;
    width: 100%;

    img {
        width: 100%;
        height: 100%;
        z-index: 1;
        position: absolute;
    }

    .badge-tile {
        z-index: 4;
        height: 100%;
        width: 100%;
        justify-content: right;
        display: inline-flex;

        span {
            background-color: var(--red-bordeaux);
            color: white;
            z-index: 10;
            border-radius: 50%;
            height: 24px;
            width: 24px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            font-weight: bold;
        }
    }
}

.mod-map {
    .title-mod-map {
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
    }

    .cell-mod {
        cursor: pointer;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.palette {
    width: fit-content;
    min-width: 400px;

    mat-grid-tile {
        cursor: pointer;
        z-index: 1;
        position: absolute;

        img {
            height: inherit;
            width: inherit;
        }
    }
}

.add-column-left,
.add-column-right {
    height: 100%;
    width: 50%;
    color: white;
    background-color: white;
    border: none;
}

.add-column-right:hover {
    animation: appearRight 1s;
    animation-fill-mode: forwards;
}

.add-column-left:hover {
    animation: appearLeft 1s;
    animation-fill-mode: forwards;
}

@keyframes appearLeft {
    from {
        color: white;
        background-color: white;
    }

    to {
        color: black;
        background: linear-gradient(to left bottom, white 50%, black 50%);
    }
}

@keyframes appearRight {
    from {
        color: white;
        background-color: linear-gradient(to right bottom, white 100%, black 0%);
    }

    to {
        color: black;
        background: linear-gradient(to right bottom, white 50%, black 50%);
    }
}
