<mat-card>
    <mat-card-title>
        Cuisine
    </mat-card-title>
    <div class="toggle-fullscreen-btn" (click)="toggleFullScreen()">
        <mat-icon *ngIf="!isFullScreen">fullscreen</mat-icon>
        <mat-icon *ngIf="isFullScreen">fullscreen_exit</mat-icon>
    </div>

    <div class="orders">
        <mat-card *ngFor="let order of getOrdersGrouped() | keyvalue">
            <mat-card-title> Table n°{{order.key}} - {{order.value.date| date: 'shortTime'}} </mat-card-title>
            <mat-card-subtitle> {{order.value.waiter}} </mat-card-subtitle>
            <table mat-table [dataSource]="getDataSourceBy(order.key)" class="mat-elevation-z8 styled-table1">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Intitulé </th>
                    <td mat-cell *matCellDef="let order"> {{order.name}} </td>
                </ng-container>

                <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef> Quantité </th>
                    <td mat-cell *matCellDef="let order"> {{order.amount}} </td>
                </ng-container>

                <ng-container matColumnDef="note">
                    <th mat-header-cell *matHeaderCellDef> Note </th>
                    <td mat-cell *matCellDef="let order"> {{order.note}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let order; columns: displayedColumns;"></tr>
            </table>
            <button mat-raised-button class="primary-color" style="width: 100%" (click)="sendBackToWaiter(order.value)">
                Prêt
            </button>
        </mat-card>
    </div>
</mat-card>
