.container-global {
    justify-content: center;
    display: grid;

    .container {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 600px;

        .form {
            display: inline-flex;
        }

    }
}
