<div class="container-global">
    <div class="container">
        <mat-card class="mat-card">
            <mat-tab-group mat-align-tabs="center" mat-stretch-tabs="false">
                <mat-tab label="Informations personnelles">
                    <form (ngSubmit)="changePassword()" [formGroup]="newPasswordForm" autocomplete="off">
                        <mat-card-title class="mat-card-title">Changer de mot de passe</mat-card-title>
                        <div style="display: grid; justify-content: space-evenly;">

                            <mat-form-field appearance="outline">
                                <mat-label>Ancien mot de passe</mat-label>
                                <input matInput type="password" formControlName="oldPassword" />
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="mat-form-field">
                                <mat-label>Nouveau mot de passe</mat-label>
                                <input matInput type="password" formControlName="newPassword" />
                                <mat-error> {{getErrorMessage(newPasswordForm)}} </mat-error>
                            </mat-form-field>

                            <button type="submit" mat-raised-button class="primary-color">Valider</button>
                        </div>
                    </form>
                </mat-tab>
                <mat-tab label="Administration" *ngIf="canAccessAdminPanel()">
                    <mat-tab-group mat-stretch-tabs="false">
                        <mat-tab label="Utilisateurs & Rôles">
                            <form (ngSubmit)="openDialog(passwordVerification, addUser, [])" [formGroup]="newUserForm"
                                autocomplete="off" class="mat-form">

                                <mat-card-title class="mat-card-title">
                                    Ajouter un nouvel utilisateur
                                </mat-card-title>
                                <div style="display: grid; justify-content: space-evenly;">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Nom de l'utilisateur</mat-label>
                                        <input matInput formControlName="username" type="text" />
                                    </mat-form-field>

                                    <mat-form-field appearance="outline">
                                        <mat-label>Rôle de l'utilisateur</mat-label>
                                        <mat-select [(value)]="roleSelected" formControlName="role">
                                            <mat-option class="mat-option" *ngFor="let role of roleList"
                                                [value]="role.Role">
                                                {{role.Role}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-error style="margin-bottom:10px">
                                        {{getErrorMessage(newUserForm)}}
                                    </mat-error>

                                    <button type="submit" mat-raised-button class="primary-color">
                                        Ajouter l'utilisateur
                                    </button>
                                </div>
                            </form>

                            <mat-divider class="mat-divider"></mat-divider>

                            <mat-card-title class="mat-card-title">Modifier un utilisateur</mat-card-title>
                            <table class="styled-table">
                                <thead>
                                    <tr>
                                        <th> Nom de l'utilisateur </th>
                                        <th> Role </th>
                                        <th> Actions </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let user of users">
                                        <td> {{user.Username}} </td>
                                        <td>
                                            <mat-form-field appearance="outline">
                                                <mat-select [(value)]="user.Role"
                                                    (selectionChange)="openDialog(passwordVerification, changeUsersRole, [user])">
                                                    <mat-option class="mat-option" *ngFor="let role of roleList"
                                                        [value]="role.Role">
                                                        {{role.Role}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </td>
                                        <td>
                                            <button mat-raised-button
                                                (click)="openDialog(passwordVerification, deleteUser, [user.Username, user.Role])">
                                                <span class="btn-text"> Delete </span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <mat-divider class="mat-divider"></mat-divider>

                            <mat-card-title class="mat-card-title">Rôle</mat-card-title>
                            <mat-card-content class="mat-card-content">
                                <table class="styled-table">
                                    <thead>
                                        <tr>
                                            <th> Nom du rôle </th>
                                            <th> Actions </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let role of roleList">
                                            <td> {{ role.Role }} </td>
                                            <td>
                                                <button mat-raised-button
                                                    (click)="openDialog(modifyRolePermissions, saveRolePermissions, [role.Role, getPermissionBy(role.role_id)] )">
                                                    Modifier
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </mat-card-content>
                            <mat-card-content class="mat-card-content">
                                <div style="display: grid; justify-content: space-evenly;">
                                    <form class="mat-form" [formGroup]="newRoleForm"
                                        (ngSubmit)="openDialog(passwordVerification, addRole, [])">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Nom du rôle</mat-label>
                                            <input matInput type="text" formControlName="role" />
                                        </mat-form-field>
                                        <mat-error style="margin-bottom:10px">
                                            {{getErrorMessage(newUserForm)}}
                                        </mat-error>
                                        <button mat-raised-button class="primary-color" type="submit">
                                            Ajouter le rôle
                                        </button>
                                    </form>
                                </div>
                            </mat-card-content>

                        </mat-tab>
                        <mat-tab label="Produits">

                        </mat-tab>
                        <mat-tab label="Sections">

                        </mat-tab>
                    </mat-tab-group>
                </mat-tab>
            </mat-tab-group>
        </mat-card>
    </div>
</div>

<ng-template #passwordVerification let-data>
    <div class="back-button">
        <mat-icon (click)="closeAllDialog()">cancel</mat-icon>
    </div>
    <h1 mat-dialog-title> Vérification de l'identité </h1>
    <div mat-dialog-content>
        <p>
            Veuillez insérer votre mot de passe
        </p>
        <mat-form-field appearance="fill">
            <mat-label> Mot de passe </mat-label>
            <input matInput [(ngModel)]="password" type="password">
        </mat-form-field>
    </div>
    <div mat-dialog-actions class="mat-dialog-actions">
        <button mat-raised-button (click)="redirectDialogValidation(data.funcion, data.args)" class="primary-color">
            Valider
        </button>
    </div>

</ng-template>

<ng-template #modifyRolePermissions let-data>
    <div class="back-button">
        <mat-icon (click)="closeAllDialog()">cancel</mat-icon>
    </div>
    <h1 mat-dialog-title> Modification des permissions </h1>
    <div mat-dialog-content>
        <p>
            Modification des permissions du rôle:
            <span style="font-weight: bold;">
                {{data.args[0]}}
            </span>
        </p>
    </div>
    <table class="styled-table">
        <thead>
            <tr>
                <th> Permission </th>
                <th> Valeur </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> Accèder au menu </td>
                <td><mat-checkbox [(ngModel)]="data.args[1].can_access_menu"></mat-checkbox></td>
            </tr>
            <tr>
                <td> Accèder aux commandes </td>
                <td><mat-checkbox [(ngModel)]="data.args[1].can_access_orders"></mat-checkbox></td>
            </tr>
            <tr>
                <td> Accèder à la caisse </td>
                <td><mat-checkbox [(ngModel)]="data.args[1].can_access_checkout"></mat-checkbox></td>
            </tr>
            <tr>
                <td> Accèder à l'historique </td>
                <td><mat-checkbox [(ngModel)]="data.args[1].can_access_history"></mat-checkbox></td>
            </tr>
            <tr>
                <td> Accèder au panel d'administration </td>
                <td><mat-checkbox [(ngModel)]="data.args[1].can_access_administration_panel"></mat-checkbox></td>
            </tr>
        </tbody>
    </table>
    <div mat-dialog-actions class="mat-dialog-actions">
        <button mat-fab (click)="openDialog(passwordVerification, deleteRole, data.args)">
            <mat-icon>delete</mat-icon>
        </button>
        <button mat-fab (click)="openDialog(passwordVerification, saveRolePermissions, data.args)"
            class="primary-color">
            <mat-icon>check</mat-icon>
        </button>
    </div>
</ng-template>
