.container {
    max-width: 1500px;
}

.mat-card {
    height: fit-content;
    margin: 1.5%;

    .mat-card-title {
        font-size: 30px;
    }
}

.change-view-map-list {
    display: inline-flex;
    justify-content: right;
    width: 97%;
    cursor: pointer;

    mat-icon {
        background-color: white;
        border-radius: 7px;
        padding: 8px 10px;
    }
}

.styled-table1 {

    td.mat-cell {
        max-width: 100px;
    }
}

.mat-card-template {
    width: 400px;
    height: auto;
}
