<app-base-template></app-base-template>
<h1 mat-dialog-title> Section </h1>
<div mat-dialog-content [formGroup]="sectionForm">
    <mat-form-field>
        <mat-label> Nom de la section </mat-label>
        <input matInput name="currentSection" type="text" placeholder="p.e Cocktails"
            formControlName="currentSection" />
    </mat-form-field>
    <mat-form-field>
        <mat-label> Section parent </mat-label>
        <mat-select formControlName="parentSection">
            <mat-option *ngFor="let section of sections" [value]="section.current_section">
                {{section.current_section}}
            </mat-option>
        </mat-select>
        <input matInput name="parentSection" type="text" placeholder="p.e Cocktails" formControlName="parentSection" />
    </mat-form-field>
</div>
<div mat-dialog-actions class="mat-dialog-actions">
    <button mat-fab *ngIf="dataSource.data" class="secundary-color"
        (click)="openDialog(deleteDialog, deleteSection, dataSource.data.id)">
        <mat-icon>delete</mat-icon>
    </button>
    <button mat-fab type="submit" class="third-color" (click)="sectionDialogResponse()">
        <mat-icon>check</mat-icon>
    </button>
</div>

<ng-template #deleteDialog let-data>
    <app-are-you-sure-template [dataSource]="data"
        message="Toutes les sections descendantes à celle-ci sera supprimé et les produits associés également"></app-are-you-sure-template>
</ng-template>
