<div class="header-container" *ngIf="isLoggedIn">
    <mat-button-toggle-group class="mat-button-toggle-group">
        <mat-button-toggle mat-raised-button class="navigate-btn" routerLink="../menu">
            Menu
        </mat-button-toggle>

        <mat-button-toggle mat-raised-button class="navigate-btn" routerLink="../orders">
            Commandes
        </mat-button-toggle>

        <mat-button-toggle mat-raised-button class="navigate-btn" routerLink="../checkout"
            *ngIf="getRole() == 'Serveur' || getRole() == 'Administrateur'">
            Caisse
        </mat-button-toggle>

        <mat-button-toggle mat-raised-button class="navigate-btn" routerLink="../history">
            Historique
        </mat-button-toggle>

        <mat-button-toggle mat-raised-button class="navigate-btn" routerLink="../parameters">
            Configuration
        </mat-button-toggle>
    </mat-button-toggle-group>
</div>


<router-outlet></router-outlet>

<mat-sidenav-container class="calculator" [hasBackdrop]="true">
    <mat-sidenav #sidenav mode="side" class="calc-sidenav">
        <mat-card class="calc-card">
            <mat-card-title>
                Calculator
            </mat-card-title>
            <mat-card-title> {{firstNumber}}{{operator}}{{secondNumber}} </mat-card-title>
            <mat-card-content class="templateCalculator">
                <button mat-flat-button (click)="addNum('1')">1</button>
                <button mat-flat-button (click)="addNum('2')">2</button>
                <button mat-flat-button (click)="addNum('3')">3</button>
                <button mat-flat-button (click)="addNum('4')">4</button>
                <button mat-flat-button (click)="addNum('5')">5</button>
                <button mat-flat-button (click)="addNum('6')">6</button>
                <button mat-flat-button (click)="addNum('7')">7</button>
                <button mat-flat-button (click)="addNum('8')">8</button>
                <button mat-flat-button (click)="addNum('9')">9</button>
                <button mat-flat-button></button>
                <button mat-flat-button (click)="addNum('0')">0</button>
                <button mat-flat-button (click)="addNum('.')">.</button>
            </mat-card-content>
            <mat-card-content class="templateCalculator">
                <button mat-flat-button (click)="setOperator('/')">/</button>
                <button mat-flat-button (click)="setOperator('x')">x</button>
                <button mat-flat-button (click)="setOperator('+')">+</button>
                <button mat-flat-button (click)="setOperator('-')">-</button>
                <button mat-flat-button (click)="deleteNum()" class="accent-color"><mat-icon>arrow_left</mat-icon></button>
                <button mat-flat-button (click)="calculate()" class="primary-color">=</button>
            </mat-card-content>
        </mat-card>
    </mat-sidenav>

    <mat-sidenav-content>
        <button mat-raised-button (click)="sidenav.toggle()" class="trigger-calc"><mat-icon>calculate</mat-icon></button>
    </mat-sidenav-content>
</mat-sidenav-container>
