<div class="header-container" *ngIf="isLoggedIn">
    <mat-button-toggle-group class="mat-button-toggle-group">
        <mat-button-toggle mat-raised-button class="navigate-btn" routerLink="../menu">
            Menu
        </mat-button-toggle>

        <mat-button-toggle mat-raised-button class="navigate-btn" routerLink="../orders">
            Commandes
        </mat-button-toggle>

        <mat-button-toggle mat-raised-button class="navigate-btn" routerLink="../checkout"
            *ngIf="getRole() == 'Serveur' || getRole() == 'Administrateur'">
            Caisse
        </mat-button-toggle>

        <mat-button-toggle mat-raised-button class="navigate-btn" routerLink="../history">
            Historique
        </mat-button-toggle>

        <mat-button-toggle mat-raised-button class="navigate-btn" routerLink="../parameters">
            Configuration
        </mat-button-toggle>
    </mat-button-toggle-group>
</div>


<router-outlet></router-outlet>
