::ng-deep .snackbar {
    white-space: pre-wrap;
}

.mat-button-toggle-group {
    max-width: inherit;
    display: inline-flex;
    flex-wrap: wrap;
    border-color: transparent;
    justify-content: center;
}

.header-container {
    display: inline-flex;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 3vh;

    button {
        display: inline;
        width: inherit;
        text-align: center;
        cursor: pointer;
        margin: 0 5px 0 5px;
    }
}

.calculator {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: transparent;
    display: flex;
    text-align: center;
    
    .calc-sidenav {
        position: fixed;
        top: auto;
        bottom: 0;
        left: auto;
        height: fit-content;
        background-color: transparent;
        display: inline-grid;
        align-content: end;
        border: none;

        .calc-card {
            width: 200px;

            .templateCalculator {
                grid-template-columns: repeat(auto-fit, minmax(min(100%/3, max(64px, 100%/5)), 1fr));
                
                button {
                    font-size: medium;
                }
            }
        }
    }

    .trigger-calc {
        position: fixed;
        bottom: 0;
        left: auto;
    }
}
