::ng-deep .snackbar {
    white-space: pre-wrap;
}

.mat-button-toggle-group {
    max-width: inherit;
    display: inline-flex;
    flex-wrap: wrap;
    border-color: transparent;
    justify-content: center;
}

.header-container {
    display: inline-flex;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 3vh;

    button {
        display: inline;
        width: inherit;
        text-align: center;
        cursor: pointer;
        margin: 0 5px 0 5px;
    }
}

.calculator {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: transparent;
    display: flex;
    text-align: center;

    .calc-sidenav {
        position: fixed;
        top: auto;
        bottom: 0;
        left: auto;
        height: fit-content;
        background-color: transparent;
        display: inline-grid;
        align-content: end;
        border: none;

        .templateCalculator {
            display: grid;
            grid-template-columns: auto auto auto auto;

            .operator {
                color: var(--red-bordeaux) !important;
                font-size: large;
            }

            button {
                font-size: larger;
                font-weight: bolder;
                margin: 1px;
            }

            button:hover {
                background-color: rgb(175, 175, 175);
            }
        }
    }

    .trigger-calc {
        position: fixed;
        bottom: 0;
        left: auto;
    }
}

.history {
    background-color: transparent;
    text-align: center;

    .history-sidenav {
        position: fixed;
        top: 0;
        left: 0;

        @media screen and (max-height: 600px) {
            top: auto;
            bottom: 0;
            left: auto;
            right: 0;
        }

        height: fit-content;
        display: inline-grid;
        align-content: end;
        border: none;
        background-color: white;
        border-radius: 7px;
        text-align: center;

        button {
            width: 50%;
            border-radius: 0;
        }

        h1 {
            margin: 5px;
        }
    }
}
