.footer {
    background-color: var(--blue-night);
    padding: 1%;
    position: fixed;
    bottom: 0px;
    color: white;
    text-align: right;
    right: 0px;
    z-index: 998;
    border-radius: 5px;
}
