<div class="container-global">
    <div class="container">
        <div class="mat-card-container">
            <mat-card>
                <mat-card-title>Historique</mat-card-title>
                <mat-card-subtitle>Retrouvez ici l'historique des commandes terminés</mat-card-subtitle>
                <mat-card-content class="mat-card-content">
                    <table class="styled-table">
                        <caption>History table of the finished orders</caption>
                        <thead>
                            <tr>
                                <th>Heure</th>
                                <th>Table</th>
                                <th>Intitulé</th>
                                <th>Quantité</th>
                                <th>Etat</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let history of historyContent">
                                <td> {{history.Horodatage | date:'M/d, h\'h\'mm\'m\'ss\'s\'' }} </td>
                                <td> {{history.IDTable}} </td>
                                <td> {{history.Intitule}} </td>
                                <td> {{history.Quantite}} </td>
                                <td> {{history.Etat}} </td>
                                <td>
                                    <button mat-raised-button (click)="openActionDialog(actionDialog,history)">
                                        Modifier
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

<ng-template #actionDialog let-data>
    <h1 mat-dialog-title>Modification</h1>
    <div mat-dialog-content>
        <p>Informations sur cet historique</p>
        <p> - Heure: <span style="font-weight: bold;">data.Horodatage</span> </p>
        <p> - Table: <span style="font-weight: bold;">data.Horodatage</span> </p>
        <p> - Intitulé: <span style="font-weight: bold;">data.Intitule</span> </p>
        <p> - Quantité: <span style="font-weight: bold;">data.Quantite</span> </p>
        <p> - État: <span style="font-weight: bold;">data.Etat</span> </p>
    </div>
    <div mat-dialog-actions class="dialog-actions">
        <p>
            Actions buttons, it's not finished yet
        </p>
    </div>
</ng-template>
