<div class="container-global">
    <div class="container">
        <div class="mat-card-container">
            <mat-card>
                <mat-card-title i18n>Historique</mat-card-title>
                <mat-card-subtitle i18n>Retrouvez ici l'historique des commandes. La date indique la première fois que la commande a été prise</mat-card-subtitle>
                <mat-card-content class="mat-card-content">
                    <table class="styled-table">
                        <thead>
                            <tr>
                                <th i18n>Date</th>
                                <th i18n>Table</th>
                                <th i18n>Intitulé</th>
                                <th i18n>Quantité</th>
                                <th i18n>Etat</th>
                                <th i18n>Actions</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let history of historyContent">
                                <td> {{history.Horodatage | date:'M/d, h\'h\'mm\'m\'ss\'s\'' }} </td>
                                <td> {{history.IDTable}} </td>
                                <td> {{history.Intitule}} </td>
                                <td> {{history.Quantite}} </td>
                                <td> {{history.Etat}} </td>
                                <td>
                                    <button mat-raised-button (click)="openActionDialog(actionDialog,history)" i18n>
                                        Modifier
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

<ng-template #actionDialog let-data>
    <div class="back-button">
        <mat-icon (click)="closeAllDialog()">cancel</mat-icon>
    </div>
    <h1 mat-dialog-title i18n>Modification</h1>
    <div mat-dialog-content i18n>
        <p>Informations sur cet historique</p>
        <p> - Heure: <span class="set-text-bold"> {{data.Horodatage | date:'M/d, h\'h\'mm\'m\'ss\'s\''}} </span></p>
        <p> - Table: <span class="set-text-bold"> {{data.IDTable}} </span></p>
        <p> - Intitulé: <span class="set-text-bold"> {{data.Intitule}} </span></p>
        <p> - Quantité: <span class="set-text-bold"> {{data.Quantite}} </span></p>
        <p> - État: <span class="set-text-bold"> {{data.Etat}} </span></p>
    </div>
    <div mat-dialog-actions class="mat-dialog-actions" i18n>
        <p>
            Actions buttons, it's not finished yet
        </p>
    </div>
</ng-template>
