<div class="container-global">
    <div class="container">
        <div class="mat-card-container">
            <mat-card>
                <mat-card-title i18n>Historique</mat-card-title>
                <mat-card-subtitle i18n>
                    Retrouvez ici l'historique des commandes. La date indique la première fois que
                    la commande a été prise.
                    <br>
                    Pour avoir plus d'informations, veuillez cliquer sur la cellule correspondante
                    <br>
                    Il est possible de rechercher un élément de l'historique par rapport au serveur, date, intitule du
                    produit, état, etc..
                </mat-card-subtitle>
                <mat-card-content>

                    <mat-form-field>
                        <mat-label> Rechercher </mat-label>
                        <input matInput type="text" placeholder="Rechercher" search #input
                            (keyup)="applyFilter($event)" />
                    </mat-form-field>

                    <table mat-table matSort [dataSource]="dataSource" (matSortChange)="sortData($event)"
                        class="mat-elevation-z8 styled-table1">

                        <ng-container matColumnDef="date">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header="date"> Date </th>
                            <td mat-cell *matCellDef="let element"> {{element.date | date:'YYYY-MM-dd, HH:mm:ss'}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="table">
                            <th mat-header-cell mat-sort-header="table" *matHeaderCellDef> Table </th>
                            <td mat-cell *matCellDef="let element"> {{element.table_id}} </td>
                        </ng-container>

                        <ng-container matColumnDef="serveur">
                            <th mat-header-cell mat-sort-header="serveur" *matHeaderCellDef> Serveur </th>
                            <td mat-cell *matCellDef="let element"> {{element.waiter}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row (click)="openActionDialog(actionDialog,row)"
                            *matRowDef="let row; columns: displayedColumns;"></tr>

                        <!-- SHOWS WHEN DATA DOES NOT EXIST (SEARCH) -->
                        <tr *matNoDataRow>
                            <td class="mat-cell" colspan="5">
                                Aucun élément n'existe pour "{{input.value}}"
                            </td>
                        </tr>

                    </table>
                    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons
                        aria-label="Select page of history content">
                    </mat-paginator>

                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

<ng-template #actionDialog let-data>
    <div class="back-button">
        <mat-icon (click)="closeAllDialog()">cancel</mat-icon>
    </div>
    <h1 mat-dialog-title i18n>Modification</h1>
    <div mat-dialog-content i18n>
        <p>Informations sur cet historique</p>

        <p> - Horodatage <span class="set-text-bold">
                {{data.Horodatage | date:'dd/MM/YY, hh\'h\'mm\'m\'ss\'s\''}}
            </span>
        </p>
        <p> - Serveur: <span class="set-text-bold"> {{data.waiter}} </span></p>
        <p> - Table: <span class="set-text-bold"> {{data.table_id}} </span></p>
        <p> - Intitulé: <span class="set-text-bold"> {{data.name}} </span></p>
        <p> - Quantité: <span class="set-text-bold"> {{data.amount}} </span></p>
        <p> - État: <span class="set-text-bold"> {{data.state}} </span></p>

    </div>
    <div mat-dialog-actions class="mat-dialog-actions" i18n>
        <p>
            Actions buttons, it's not finished yet
        </p>
    </div>
</ng-template>
