<div class="container-global">
    <div class="container">
        <mat-card class="mat-card-template" *ngFor="let table of tables">
            <mat-card-title> 
                {{table}}
            </mat-card-title>

            <mat-card-content>
                <table class='styled-table'>
                    <thead>
                        <tr>
                            <th> Intitulé </th>
                            <th> Quantité </th>
                            <th> État </th>
                            <th> Actions </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let order of getOrdersByTable(table)">
                            <td> {{order.Intitule}} </td>
                            <td> {{order.Quantite}} </td>
                            <td> {{order.Etat}} </td>
                            <td>
                                <button mat-raised-button (click)="openActionDialog(actionDialog, order)">
                                    Modifier
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<ng-template #actionDialog let-data>
    <h1 mat-dialog-title> Modification du produit </h1>
    <div mat-dialog-content>
        <p>Quelle action voulez-vous effectuer sur ce produit ?</p>
        <p>Informations:</p>
        <p> - Table: <span class="set-text-bold">{{data.IDTable}}</span> </p>
        <p> - Intitulé: <span class="set-text-bold">{{data.Intitule}}</span> </p>
        <p> - Quantité: <span class="set-text-bold">{{data.Quantite}}</span> </p>
        <p> - État: <span class="set-text-bold">{{data.Etat}}</span> </p>
    </div>
    <div mat-dialog-actions class="mat-dialog-actions">
        <button mat-raised-button class="table-btn-take" (click)="markOrderDealt(data)">
            Pris en charge
        </button>
        <button mat-raised-button class="table-btn-delete" class="third-color"
            (click)="deleteProductInOrderSnack(data.IDTable, data.Intitule)">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</ng-template>
