<div class="change-view-map-list" routerLink="../map-orders">
    <mat-icon>map</mat-icon>
</div>

<div class="container-global">
    <div class="container">
        <mat-card class="mat-card-template" *ngFor="let table of tables">
            <mat-card-title>
                {{table}}
            </mat-card-title>

            <mat-card-content>
                <table class='styled-table'>
                    <thead>
                        <tr>
                            <th> Intitulé </th>
                            <th> Quantité </th>
                            <th> État </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let order of getOrdersByTable(table)"
                            (click)="openActionDialog(actionDialog, undefined, [order])">
                            <td> {{order.Intitule}} </td>
                            <td> {{order.Quantite}} </td>
                            <td> {{order.Etat}} </td>
                        </tr>
                    </tbody>
                </table>
                <button mat-raised-button (click)="orderDealtByTable(table)" class="primary-color">
                    Pris en charge
                </button>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<ng-template #actionDialog let-data>
    <div class="back-button">
        <mat-icon (click)="closeAllDialog()">cancel</mat-icon>
    </div>
    <h1 mat-dialog-title> Modification du produit </h1>
    <div mat-dialog-content>
        <p>Quelle action voulez-vous effectuer sur ce produit ? </p>
        <p>Informations:</p>
        <p> - Table: <span class="set-text-bold">{{data.data.IDTable}}</span> </p>
        <p> - Intitulé: <span class="set-text-bold">{{data.data.Intitule}}</span> </p>
        <p> - Quantité: <span class="set-text-bold">{{data.data.Quantite}}</span> </p>
        <p> - État: <span class="set-text-bold">{{data.data.Etat}}</span> </p>
    </div>
    <div mat-dialog-actions class="mat-dialog-actions">
        <button mat-fab class="primary-color" (click)="incrementProductQuantity(data.data)">
            +1
        </button>
        <button mat-fab class="accent-color" (click)="reduceQuantiteInOrder(data.data)">
            -1
        </button>
        <button mat-fab class="third-color" (click)="deleteProduct(data.data.IDTable, data.data.Intitule)">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
    <div mat-dialog-actions class="mat-dialog-actions">
        <button mat-raised-button (click)="redirectDialogValidation(data.foo, data.data)">
            Valider
        </button>
    </div>
</ng-template>
