@import './theme.scss';

.primary-color {
  background-color: var(--red-bordeaux) !important;
  color: white !important;
}

.secundary-color {
  background-color: var(--blue-night) !important;
  color: white !important;
}

.third-color {
  background-color: var(--royal-blue) !important;
  color: white !important;
}

.text-third-color {
  color: var(--royal-blue) !important;
}

.accent-color {
  background-color: var(--blue-night) !important;
  color: white !important;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html {
  // -webkit-user-select: none;
  // -moz-user-select: none;
  // -ms-user-select: none;
  // user-select: none;
  caret-color: rgba(0, 0, 0, 0);
  background-image: url("./assets/images/background-temp.jpeg");
  background-repeat: repeat-y;
  background-size: cover;
  background-color: rgb(24, 24, 24);
}

/**************** Table design ***************/
.styled-table {
  min-width: fit-content;
  border-collapse: collapse;
  margin: auto auto;
  font-size: 0.9em;
  font-family: sans-serif;
  color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

  thead {
    tr {
      color: var(--red-bordeaux);
      background-color: white;
      text-align: center;
    }
  }

  th {
    padding: 10px 7px;
  }

  td {
    padding: 10px 7px;
  }

  tbody {
    tr:hover {
      background-color: grey !important;
      color: black !important;
    }
    tr {
      cursor: pointer;
      text-align: center;
      border-bottom: 1px solid #dddddd;

      &:nth-of-type(odd) {
        background-color: var(--royal-blue);
        color: white;

        .mat-form-field-outline {
          color: inherit;
        }

        .mat-select-arrow {
          color: inherit;
        }

        .mat-select-value {
          color: inherit;
        }
      }

      &:nth-of-type(even) {
        background-color: white;
        color: black;

        .mat-form-field-outline {
          color: inherit;
        }

        .mat-select-arrow {
          color: inherit;
        }

        .mat-select-value {
          color: inherit;
        }
      }

      &:last-of-type {
        border-bottom: 2px solid var(--red-bordeaux);
      }
    }

    tr.active-row {
      font-weight: bold;
      color: var(--red-bordeaux);
    }
  }
}

/**************** Global containers design ***************/

.container-global {
  display: grid;
  max-width: inherit;
  justify-content: center;

  .container {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    width: inherit;
  }
}

/**************** Mat card design ***************/

.mat-card {
  max-width: inherit;
  padding: 1.7em;
  margin: 0.5em 0.5em 2em 0.5em;

  .mat-card-title {
    margin-bottom: 0.7em;
    margin-top: 0.5em;
  }

  .mat-card-content {
    display: grid;
    text-align: center;
    justify-content: space-evenly;
  }

  .mat-card-template {
    text-align: center;
    justify-content: center;
    display: grid;
  }

  .mat-card-actions {
    display: inline-grid;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;

    button {
      margin-top: 1em;
    }
  }
}

/**************** Form design ***************/

.form-group {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 1em;

  .mat-form {
    display: inline-grid;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 2em;

    .mat-form-field-wrapper {
      margin: 0px;
      padding-bottom: 0.5em;
      padding-top: 0.5em;
    }

    .mat-form-field {
      border-top: 0px;
      padding-top: 0px;
    }
  }
}

/**************** Dialog design ***************/

.back-button {
  display: inline-flex;
  justify-content: flex-end;
  width: 100%;
  height: 0;

  mat-icon {
    display: flex;
    width: fit-content;
    cursor: pointer;
  }
}

.mat-dialog-actions {
  justify-content: center;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 2vh;

  button.dialog-actions {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 0 1em;
  }

  p.mat-dialog-actions {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 1em;
  }
}

/**************** Title display ***************/

.main-title {
  text-align: center;
  font-weight: 500;
  font-size: 50px;
  margin: 4vh 0px 5vh 0px;
  color: white;
}

h2 {
  text-align: center;
  margin: 2vh 0 6vh 0;
}

/**************** Other global classes desing ***************/

.set-text-bold {
  font-weight: bold;
}
