<div class="container-global ng-star-inserted">
    <div class="container">

        <mat-card id="sections">
            <mat-card-title> {{current_section ? current_section : "Menu"}} </mat-card-title>
            <mat-grid-list cols="2" [gutterSize]="'1px'">
                <mat-grid-tile *ngIf="current_section != null">
                    <button mat-raised-button (click)="backButton()" class="section-btn fourth-color">
                        <span class="btn-text">
                            Retour
                        </span>
                    </button>
                </mat-grid-tile>
                <mat-grid-tile *ngFor="let sec of getChildSections()">
                    <button mat-raised-button *ngIf="sec.parent_section == current_section"
                        (click)="changeSections(sec.current_section)" class="section-btn primary-color">
                        <span class="btn-text">
                            {{sec.current_section}}
                        </span>
                    </button>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card>

        <mat-card *ngIf="haveProductsInside()" id="products">
            <mat-card-title>Produits</mat-card-title>

            <mat-grid-list cols="{{getNumberColumns()}}" [gutterSize]="'1px'">
                <mat-grid-tile *ngFor="let prod of getProductsOfSection()">
                    <button mat-raised-button class="products-btn secundary-color"
                        (click)="incrementProductQuantity(prod)">
                        <span class="btn-text">
                            {{prod.name}}
                        </span>
                    </button>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card>
    </div>
</div>

<div class="container-global" *ngIf="isOrderContainItems()">
    <div class="container">
        <mat-card class="mat-card">
            <mat-card-title>
                Commande en cours
            </mat-card-title>

            <mat-card-content>
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 styled-table1">

                    <ng-container matColumnDef="intitule">
                        <th mat-header-cell *matHeaderCellDef> Intitulé </th>
                        <td mat-cell *matCellDef="let order"> {{order.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="prix">
                        <th mat-header-cell *matHeaderCellDef> Prix </th>
                        <td mat-cell *matCellDef="let order"> {{order.price}} </td>
                    </ng-container>

                    <ng-container matColumnDef="quantite">
                        <th mat-header-cell *matHeaderCellDef> Quantité </th>
                        <td mat-cell *matCellDef="let order"> {{order.amount}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let order; columns: displayedColumns;"
                        (click)="openActionDialog(actionDialog, order)"></tr>

                </table>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div class="container-global" *ngIf="isOrderContainItems()">
    <div class="container">
        <mat-card class="mat-card">
            <mat-card-title>
                Numéro de table
            </mat-card-title>

            <mat-card-content>
                <mat-card-title>
                    <span class="mat-display-2" style="color: black">
                        {{getTableID()}}
                    </span>
                </mat-card-title>
            </mat-card-content>

            <mat-card-content id="set-table-id">
                <button mat-fab class="third-color" (click)="incrementTableNumber(1)">
                    1
                </button>
                <button mat-fab class="third-color" (click)="incrementTableNumber(2)">
                    2
                </button>
                <button mat-fab class="third-color" (click)="incrementTableNumber(3)">
                    3
                </button>
                <button mat-fab class="third-color" (click)="incrementTableNumber(4)">
                    4
                </button>
                <button mat-fab class="third-color" (click)="incrementTableNumber(5)">
                    5
                </button>
                <button mat-fab class="third-color" (click)="incrementTableNumber(6)">
                    6
                </button>
                <button mat-fab class="third-color" (click)="incrementTableNumber(7)">
                    7
                </button>
                <button mat-fab class="third-color" (click)="incrementTableNumber(8)">
                    8
                </button>
                <button mat-fab class="third-color" (click)="incrementTableNumber(9)">
                    9
                </button>
                <button mat-fab class="accent-color" (click)="clearTableNumber()">
                    AC
                </button>
                <button mat-fab class="third-color" (click)="incrementTableNumber(0)">
                    0
                </button>

                <button mat-fab class="accent-color" (click)="decrementTableNumber()">
                    <mat-icon>arrow_left</mat-icon>
                </button>
            </mat-card-content>

            <mat-card-content>
                <form (ngSubmit)="sendOrderToPrepare()" autocomplete="off" class="mat-form">
                    <button mat-raised-button type="submit" class="primary-color">
                        Valider
                    </button>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<ng-template #actionDialog let-data>
    <div class="back-button">
        <mat-icon (click)="closeAllDialog()">cancel</mat-icon>
    </div>
    <h1 mat-dialog-title> Modification du produit </h1>
    <div mat-dialog-content>
        <p>Quelle action voulez-vous effectuer sur ce produit ?</p>
        <p>Informations:</p>
        <p> - Intitulé: <span class="set-text-bold">{{data.name}}</span> </p>
        <p> - Quantité: <span class="set-text-bold">{{data.amount}}</span> </p>
    </div>
    <div mat-dialog-actions class="mat-dialog-actions">
        <button mat-fab class="primary-color" (click)="incrementProductQuantity(data)">
            +1
        </button>
        <button mat-fab class="accent-color" (click)="reduceQuantiteInOrder(data)">
            -1
        </button>
        <button mat-fab class="third-color" (click)="validateDeleteProductInOrder(data)">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</ng-template>
