<button mat-raised-button *ngIf="currentSection != null" (click)="backButton()" class="back-section-btn" color="warn">
    <span class="btn-text">
        Retour
    </span>
</button>

<div class="container-global">
    <div class="container">
        <div *ngFor="let sec of sections">
            <button mat-raised-button *ngIf="sec.sectionParente == currentSection"
                (click)="changeSections(sec.sectionCourante)" class="section-btn">
                <span class="btn-text">
                    {{sec.sectionCourante}}
                </span>
            </button>
        </div>
    </div>
</div>

<div class="mat-display-2" *ngIf="haveProductsInside()"> Products </div>

<div class="container-global">
    <div class="container">
        <div *ngFor="let prod of products">
            <button mat-raised-button *ngIf="prod.Section == currentSection" class="products-btn"
                (click)="addProductInOrder(prod)">
                <span class="btn-text">
                    {{prod.Intitule}}
                </span>
            </button>
        </div>
    </div>
</div>

<div class="container-global" *ngIf="isOrderContainItems()">
    <div class="container" style="margin-bottom: 20px; margin-top: 20px">
        <mat-card style="margin-bottom: 20px; margin-top: 20px">
            <mat-card-title>
                Commande en cours
            </mat-card-title>

            <mat-card-content>
                <table class='styled-table'>
                    <caption>List of products that the client wants to consume</caption>
                    <thead>
                        <tr>
                            <th> Intitulé </th>
                            <th> Prix </th>
                            <th> Quantité </th>
                            <th> Actions </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let order of orders">
                            <td> {{order.Intitule}} </td>
                            <td> {{order.Prix}} </td>
                            <td> {{order.Quantite}} </td>
                            <td>
                                <button mat-raised-button (click)="openActionDialog(actionDialog, order)"
                                    color="primary">
                                    <span class="btn-text"> Modifier </span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </mat-card-content>
        </mat-card>
        <mat-card style="margin-bottom: 20px; margin-top: 20px">
            <mat-card-title>
                Numéro de table
            </mat-card-title>
            <form (ngSubmit)="sendOrderToPrepare()" [formGroup]="form" autocomplete="off">
                <div class="confirm-order">
                    <mat-form-field appearance="fill" style="border-top: 0px; padding-top: 0px;">
                        <mat-label>
                            Entre 1 et 255
                        </mat-label>
                        <input matInput placeholder="Ex. 102" type="number" formControlName="idtable">
                    </mat-form-field>
                    <button mat-raised-button type="submit" color="primary">
                        Valider
                    </button>
                </div>
            </form>
        </mat-card>
    </div>
</div>

<ng-template #actionDialog let-data>
    <h1 mat-dialog-title> Modification du produit </h1>
    <div mat-dialog-content>
        <p>Quelle action voulez-vous effectuer sur ce produit ?</p>
        <p>Informations:</p>
        <p> - Intitulé: <span style="font-weight: bold;">{{data.Intitule}}</span> </p>
        <p> - Quantité: <span style="font-weight: bold;">{{data.Quantite}}</span> </p>
    </div>
    <div mat-dialog-actions class="dialog-actions">
        <p>
            <button mat-fab color="accent" (click)="addProductInOrder(data)">
                +1
            </button>
        </p>
        <p>
            <button mat-fab color="warn" (click)="reduceQuantiteInOrder(data)">
                -1
            </button>
        </p>
        <p>
            <button mat-fab color="warn" (click)="validateDeleteProductInOrder(data)">
                <mat-icon>delete</mat-icon>
            </button>
        </p>
     </div>
</ng-template>
