<div class="container-global">
    <div class="container">
        <mat-card class="mat-card">
            <mat-card-title> Caisse </mat-card-title>
            <mat-card-content class="mat-card-content">
                <mat-form-field appearance="fill" mat-form-field>
                    <mat-label> Sélectionne une table </mat-label>
                    <mat-select [(value)]="selected">
                        <mat-option *ngFor="let idtable of listTable()" [value]="idtable">
                            {{idtable}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div class="container-global">
    <div class="container">
        <mat-card class="mat-card" *ngIf="!listOrderIsEmpty(selected)">
            <div #contentToExportPdf>
                <mat-card-title> Table n°{{selected}} </mat-card-title>
                <mat-card-subtitle> {{getDateOrder(selected) | date:'dd/MM, h\'h\'mm\'m\''}} </mat-card-subtitle>
                <mat-card-content class="mat-card-content">
                    <table class="styled-table">
                        <thead>
                            <tr>
                                <th>Serveur</th>
                                <th>Intitulé</th>
                                <th>Quantité</th>
                                <th>Prix unitaire</th>
                                <th>Prix Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let order of checkoutOrders">
                                <tr *ngIf="order.IDTable == selected">
                                    <td> {{order.Serveur}} </td>
                                    <td> {{order.Intitule}} </td>
                                    <td> {{order.Quantite}} </td>
                                    <td> {{order.Prix}} €</td>
                                    <td> {{order.Quantite * order.Prix}} € </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                    <div class="mat-card-actions">
                        <mat-card-title-group> Pour un total de {{totalPriceOrder(selected)}} € </mat-card-title-group>
                    </div>
                </mat-card-content>
            </div>
            <mat-card-actions class="mat-card-actions">
                <button mat-raised-button class="primary-color" (click)="confirmOrder(selected)">
                    Commande payé
                </button>
                <button mat-raised-button class="primary-color" (click)="generatePdf()">
                    Generate pdf
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
