
<div class="ckeckout-content-container-global">
    <div class="ckeckout-content-container">
        <mat-card class="mat-card-template">
            <mat-card-title> Caisse </mat-card-title>
            <mat-card-content>
                <mat-form-field appearance="fill" mat-form-field>
                    <mat-label> Sélectionne une table </mat-label>   
                    <mat-select [(value)]="selected">
                        <mat-option class="mat-option" *ngFor="let idtable of listTable()" [value]="idtable">
                            {{idtable}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div #contentToExportPdf>
                    <table class='styled-table' *ngIf="!listOrderIsEmpty(selected)">
                        <thead>
                            <tr>
                                <th> Numéro de la table </th>
                                <th> Intitulé </th>
                                <th> Quantité </th>
                                <th> Prix unitaire </th>
                                <th> Prix Total </th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let order of checkoutOrders">
                                <tr *ngIf="order.IDTable == selected" >
                                    <td> {{order.IDTable}} </td>
                                    <td> {{order.Intitule}} </td>
                                    <td> {{order.Quantite}} </td>
                                    <td> {{order.Prix}} €</td>
                                    <td> {{order.Quantite * order.Prix}} € </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                    <div class="confirm-order" *ngIf="!listOrderIsEmpty(selected)">
                        <mat-card-title-group> Pour un total de {{totalPriceOrder(selected)}} € </mat-card-title-group>
                    </div>
                </div>
                <div class="confirm-order" *ngIf="!listOrderIsEmpty(selected)">
                    <button mat-raised-button color="primary" (click)="confirmOrder(selected)"> Commande payé </button>
                    <button mat-raised-button color="primary" (click)="generatePdf()"> Generate pdf </button>
                </div>
            </mat-card-content>
        </mat-card>

    </div>
</div>
